.container .row {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
}

.row .display {
    font-size: 15vh;
}

.row .display2 {
    font-size: 5vh;
}

.row .crono {
    font-size: 5vh;
    color: red;
    border: 1px solid black;
}

